.acs-img{
    width: 100%;
    height: 50vh;
}
#Bowl{
    position: relative;
}
.prdct-image{
    position: absolute;
    margin: 60px 50px;
}
.item{
    margin:55px 20px;
}
.products{
    left: 10%;
    bottom: -20%;
    background-color: rgb(255, 255, 255);
  .col-4{
    img{
      width: 98%;
    }
  }
}