#bg-color{
    
    h2{
        color: rgb(189,132,72);
        margin-bottom: 17px;
    }
    background-color: black;
    height: 70vh;
    padding-top: 6.5em; 
    
    p{color: rgb(139,139,149);
    a{
       text-decoration: none;
       color: rgb(139,139,149);
   }
   } 
   h4 {
    a{
       color: white;
       text-decoration: none;
   }
}  
   }
  
  