.trend::before{
    content: '';
    position: absolute;
    top: 30%;
    width: 30%;
    right: 80px;
    height: 1px;
    background-color: lightgrey;
}
.trend::after{
    content: '';
    position: absolute;
    top: 30%;
    width: 30%;
    left: 70px;
    height: 1px;
    background-color: lightgrey;
}
.trend{
    margin-top: 15%;
    position: relative;
}

    #load{
        margin: 30px 42%;
        outline: 2px solid rgb(213, 213, 213);
        border: none;
        background-color: transparent;
        padding:10px 60px;
        &:hover{
            background-color: rgb(192,134,75);
            outline: 2px solid rgb(192,134,75); 
            color: white;
              
        }
    }
   